{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1>Création d'un Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <button type="btn" class="btn btn-success bg-gradient btn-sm"><a href="{{ path('app_produit_index') }}">Retour</a></button>
{% endblock %}
