* {
    --m-blanc: white;
    --m-grenat: rgb(151, 21, 21);
    --m-ombre: #333;
    --m-gris: #bbb;
    --m-sombre: #4f4f4f;
    --m-noir: #000;
    --m-button: rgba(221, 171, 130, 0.37);
    --m-bleu: blue;
    --m-background1: #ffddbc;
    --m-background2: rgb(187, 247, 187);
    --m-title: #453117;
    --m-vert: green;
    --m-vertclair: lightgreen;
}

.header_village {
    position: sticky;
    top: 0px;
}

.logo_village {
    background-color: var(--m-background1);
    text-align: center;
}

body {
    background-color: var(--m-background1);
}

a {
    text-decoration: none;
}

/* Liens pour administration dans base.html.twig */
.adminlink {
    color: var(--m-noir);
}

h1,
p {
    color: var(--m-title);
}

.form-control {
    background-color: var(--m-background2);
}

.cargo {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: var(--m-blanc);
}

.cargo th {
    color: var(--m-grenat);
}

.cargo td {
    color: var(--m-noir);
}

ul.horizontal {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 2em;
    margin-right: 2em;
    background-color: var(--m-vertclair);
    color: var(--m-vert);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fiche_titre {
    margin-left: 2em;
}

.photo-catalogue  {
    text-align: center;
}

.photo-catalogue img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: auto;
    height: 30em;
}
