* {
    --m-blanc: white;
    --m-grenat: rgb(151, 21, 21);
    --m-ombre: #333;
    --m-gris: #bbb;
    --m-sombre: #4f4f4f;
    --m-noir: #000;
    --m-button: rgba(221, 171, 130, 0.37);
    --m-bleu: blue;
    --m-background1: #ffddbc;
    --m-background2: rgb(187, 247, 187);
    --m-title: #453117;
    --m-vert: green;
    --m-vertclair: lightgreen;
}

.logo_village {
    background-color: var(--m-background1);
    text-align: center;
}

body {
    background-color: var(--m-background1);
}

a {
    text-decoration: none;

}


/* Liens pour administration dans base.html.twig */
.adminlink {
    color: var(--m-noir);

}

h1,
p {
    color: var(--m-title);
}

.form-control {
    background-color: var(--m-background2);
}

.cargo {
    margin-left: 2em;
    margin-right: 2em;
    background-color: var(--m-blanc);
    color: var(--m-green);
}

.cargo th {
    color: var(--m-grenat);
}

.cargo td {
    color: var(--m-noir);
}

ul.horizontal {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 2em;
    margin-right: 2em;
    background-color: var(--m-vertclair);
    color: var(--m-vert);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fiche_titre {
    margin-left: 2em;

}

.fiche_obj {

    /*
    display: flex;
    justify-content: space-around;
    align-content: center;
    */

    margin-left: 5em;
    margin-right: 5em;

    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.fiche_obj table {
    width: 90%;
}

.photo-catalogue img {
    width: auto;
    height: 500px;
}




.col1 {

    grid-column: 1/2;
    grid-row: 1;
}

.col2 {

    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-content: center;
}