<form method="post" action="{{ path('app_rubrique_orphan', {'id': rubrique.getRubriqEnfants}) }}" onsubmit="return confirm('Voulez-vous supprimer cette relation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('orphan' ~ rubrique.getRubriqEnfants) }}">
    <button type="btn" class="btn btn-warning bg-gradient btn-sm">Suppression</button>
</form>