<form method="post" action="{{ path('app_rubrique_delete', {'id': rubrique.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette rubrique?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rubrique.id) }}">
    <button type="btn" class="btn btn-warning bg-gradient btn-sm">Suppression</button>
</form>
