{% extends 'base.html.twig' %}

{% block title %}
  Édition Rubrique
{% endblock %}

{% block body %}
  <h1>Édition Rubrique</h1>

  {{ include('rubrique/_form.html.twig', { button_label: 'Mise à jour' }) }}

  <button type="btn" class="btn btn-success bg-gradient btn-sm"><a href="{{ path('app_rubrique_index') }}">Retour</a></button>

  {{ include('rubrique/_delete_form.html.twig') }}
{% endblock %}
