{% extends 'base.html.twig' %}

{% block title %}Nouvelle Rubrique{% endblock %}

{% block body %}
    <h1>Création d'une Rubrique</h1>

    {{ include('rubrique/_form.html.twig') }}

    <button type="btn" class="btn btn-success bg-gradient btn-sm"><a href="{{ path('app_rubrique_index') }}">Retour</a></button>
{% endblock %}
