{% extends 'base.html.twig' %}

{% block title %}Nouveau Fournisseur{% endblock %}

{% block body %}
    <h3>Création d'un Fournisseur</h3>

    {{ include('fournisseur/_form.html.twig') }}

    <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_fournisseur_index') }}">Retour</a>
{% endblock %}
